body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background-color: black;
}

.theme-dark {
  background-color: rgba(44, 44, 46, 0.9) !important;
  color: rgba(229, 229, 234, 0.9) !important;
}

.theme-light {
  background-color: rgba(229, 229, 234, 0.9) !important;
  color: rgba(44, 44, 46, 0.9) !important;
}

.figure-cover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s ease;

  border-radius: 3px;

  color: rgb(229, 229, 234);
}

.figure-cover:hover  {
  background-color: rgba(0,0,0,0.7);
  /* transform: scale(1.03); */

  cursor: pointer;

}

.figure-cover p {
  font-size: 1.5em;
}


/* UTILS */

.left-rounded {
  border-radius: 10px 0px 0px 10px;
}


.right-rounded {
  border-radius: 0px 10px 10px 0px;
}

.rounded {
  border-radius: 10px;
}